.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    background-color: #6b5b95;
    color: #feb236;
    padding: 10px 20px;
}

.navbar .logo {
    width: 200px;
    height: 200px;
}

.navbar ul {
    display: flex;
    font-size: 1.7rem;
    align-items: center;
    gap: 50px;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: block;
    }

    .navbar logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;

    }

    .navbar ul {
        display: block;
        text-align: center;
        margin: auto;
        padding: 0;
        margin: 0;

    }
}


@media only screen and (max-width: 850px) {
    .navbar {
        display: block;
        text-align: center;

    }

    .navbar logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;

    }

    .navbar ul {
        display: block;
        text-align: center;
        margin: auto;
        padding: 0;
        margin: 0;

    }
}