li {
    list-style: none;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #6b5b95;
    color: #feb236;
}

.navbar .logo {
    width: 200px;
    height: 200px;
}